{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "dot-notation": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error",
      { "singleQuote": true, "quoteProps": "consistent" }
    ]
  }
}
