@use '../sass/abstracts/colors' as *;

.handle {
  stroke: $dark-gray;
}
.frame {
  fill: $dark-gray;
}
.lens {
  fill: white;
}

.light > {
  .handle {
    stroke: white;
  }
  .frame {
    fill: white;
  }
  .lens {
    fill: black;
  }
}
